-
	cards = [
		{
			title: 'Best </br> Winter Destinations',
			value: 34,
		},
		{
			title: "The world's most extraordinary places",
			value: 29,
		},
			{
			title: 'New </br> destinations for 2022',
			value: 47,
		},
			{
			title: 'Your health </br> is matter',
			value: 29,
		},
			{
			title: 'Experiences Away From Crowd',
			value: 168,
		},
	];

section.section.luxury_packages
	.luxury_packages_bg
		+picture({
			img: 'bg_sea',
			class: 'luxury_packages_bg__wrap',
			img_class: 'luxury_packages_bg__img',
		})
	.luxury_packages__head
			h2.luxury_packages_info__title Luxury Packages
			a.luxury_packages_info__button(href="#") view all
	.section_in.luxury_packages_in
		button.luxury_packages_arrow.swiperArrow(type="button")
			.swiperArrow__icon
				+icon('arrow', 'icon--size_mod')
		ul.luxury_packages__body.luxuryPackagesSlider
			li.luxury_packages_info
				h2.luxury_packages_info__title Luxury Packages
				a.luxury_packages_info__button(href="#") view all
			each card, index in cards
				li.luxury_packages_card
					a.luxury_packages_info__link(href="#")
						.luxury_packages_card_bg 
							+picture({
								img: `luxury_packages/0${index+1}`,
								class: 'luxury_packages_card_bg__wrap',
								img_class: 'luxury_packages_card_bg__img',
							})
						h4.luxury_packages_card__title!= card.title
						.luxury_packages_card__romb
							.luxury_packages_card__value= card.value
							.luxury_packages_card__label places
							.luxury_packages_card__icon 
								+icon('arrow','icon--size_mod')
		.luxury_packages__pagination.swiperPagination
