section.section.why
	.why_bg 
		+picture({
			img: 'bg_why',
			png: true,
			class: 'why_bg__wrap',
			img_class: 'why_bg__img',
		})
	.section_in
		.why__row.why__row--size_1
			.why_column
				h2.why__title Why </br> Lux Trips
			.why_column
				.why__text As Travel Designer, we know the ins and outs of travel from who to work with, where to go, when to book, and which restaurant provides the most authentic cuisine. 
		.why_images
			.why_images__decor
			.why_images_item.why_images_item--mod_1
				+picture({
					img: 'why/01',
					class: 'why_images_item__wrap',
					img_class: 'why_images_item__img',
				})
			.why_images_item.why_images_item--mod_2
				+picture({
					img: 'why/02',
					class: 'why_images_item__wrap',
					img_class: 'why_images_item__img',
				})
			.why_images_item.why_images_item--mod_3
				+picture({
					img: 'why/03',
					class: 'why_images_item__wrap',
					img_class: 'why_images_item__img',
				})
		.why__row.why__row--size_2
			.why_column
				.why__descr Exclusive knowledge to provide the best of the best to clients
			.why_column
				.why__text.why__text--desktop Our area of expertise ranges from luxury resorts and villas/chalets holiday bookings, private yacht and jet charters, to exclusive tours and personalized journey planning. 
		.why__row.why__row--size_3
			.why_column
				.why_image 
					+picture({
						img: 'why/04',
						class: 'why_image__wrap',
						img_class: 'why_image__img',
					})
			.why_column
				.why_column__text Our area of expertise ranges from luxury resorts and villas/chalets holiday bookings, private yacht and jet charters, to exclusive tours and personalized journey planning. 
				.why_column__descr We craft and plan unique itineraries tailored to customers’ interests and with strong attention to detail.
				a.why_column__button(href="#") help me plan a trip
		.why__footer
			a.why__button(href="#") help me plan a trip