.home_hero {
	min-height: var(--full-screen);
	overflow: hidden;

	@include bp($point_2, min) {
		padding: calc(var(--height-header) + 1.6rem) var(--gl-indent) var(--gh-indent);
	}

	@include bp($point_3) {
		padding: calc(var(--height-header) + var(--gh-indent)) var(--gl-indent) var(--gh-indent);
	}

	&::before {
		content: "";
		position: absolute;
		bottom: -1%;
		left: 0;
		z-index: 4;

		width: 100%;

		background: $gradient;

		@include bp($point_2, min) {
			height: 31%;
		}

		@include bp($point_3) {
			height: 51%;
		}
	}
}

// bg
.home_hero__wrap {
	position: absolute;
	top: -10%;
	left: -10%;

	width: 120%;
	height: 120%;
}

.home_hero_bg {
	position: absolute;
	z-index: -1;
}

.home_hero_bg--sky {
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.home_hero_bg--lake {
	right: 0;
	z-index: 1;

	width: 100%;

	@include bp($point_2, min) {
		bottom: 0;
		height: 52%;
	}

	@include bp($point_3) {
		bottom: 28%;
		height: 40%;
	}
}

.home_hero_bg--nature {
	left: 0;
	z-index: -1;

	width: 100%;

	@include bp($point_2, min) {
		bottom: 0;
		height: 60%;
	}

	@include bp($point_3) {
		bottom: 30%;
		height: 45%;
	}
}

.home_hero_bg--clouds {
	bottom: 0;
	left: 0;
	z-index: 1;

	height: 30%;
	width: 100%;

	@include bp($point_3) {
		display: none;
	}
}

.home_hero_bg--mountains {
	z-index: 3;

	width: 100%;

	@include bp($point_2, min) {
		left: -4%;
		bottom: 0;

		height: 39%;
	}

	@include bp($point_3) {
		left: -4%;
		bottom: 34%;

		height: 30%;
	}
}

.home_hero_bg__wrap {
	display: block;
	width: 100%;
	height: 100%;
}

.home_hero_bg__img {
	@extend %cover_img;
	object-position: top;
}

.home_hero_bg__romb {
	position: absolute;
	z-index: 1;

	background: rgba($white, 0.31);

	border: 0.1rem solid $light_brown_2;
	transform: rotate(45deg) skew(20deg, 20deg);

	@include bp($point_2, min) {
		backdrop-filter: blur(1rem);
	}

	@include bp($point_3) {
		backdrop-filter: blur(0.6rem);
	}
}

.home_hero_bg__romb--center {
	transform: rotate(45deg) skew(20deg, 20deg) translate(-50%, 100%);

	@include bp($point_2, min) {
		width: 11.2rem;
		height: 11.2rem;

		left: 50.8%;
		bottom: 40%;
	}

	@include bp($point_3) {
		width: 4.2rem;
		height: 4.2rem;

		left: 49.8%;
		bottom: 63%;
	}
}

.home_hero_bg__romb--left_top {
	width: 2.7rem;
	height: 2.7rem;

	@include bp($point_2, min) {
		top: 45.8%;
		left: 10%;
	}

	@include bp($point_3) {
		top: 30%;
		left: 8.4%;
	}
}

.home_hero_bg__romb--left_bot {
	@include bp($point_2, min) {
		width: 4.3rem;
		height: 4.3rem;

		bottom: 33%;
		left: 10%;
	}

	@include bp($point_3) {
		width: 1.7rem;
		height: 1.7rem;

		top: 40%;
		left: 11%;
	}
}

.home_hero_bg__romb--right_top {
	@include bp($point_2, min) {
		width: 2.6rem;
		height: 2.6rem;

		bottom: 43%;
		right: 13%;
	}

	@include bp($point_3) {
		width: 1.6rem;
		height: 1.6rem;

		top: 33%;
		right: 23%;
	}
}

.home_hero_bg__romb--right_bot {
	@include bp($point_2, min) {
		width: 5.2rem;
		height: 5.2rem;

		bottom: 26%;
		right: 18%;
	}

	@include bp($point_3) {
		width: 3.3rem;
		height: 3.3rem;

		top: 36%;
		right: 6%;
	}
}

// end bg

.home_hero__label {
	margin-left: auto;
	margin-right: auto;

	font-family: $font_2;
	color: $black_2;
	line-height: 0.98;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	text-align: center;

	@include bp($point_2, min) {
		max-width: 14.8rem;
		font-size: 2.5rem;

		&:not(:last-child) {
			margin-bottom: 6.4rem;
		}
	}

	@include bp($point_3) {
		max-width: 10rem;
		font-size: 1.7rem;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.home_hero__title {
	@extend %h1;

	margin-left: auto;
	margin-right: auto;

	line-height: 0.65;
	text-align: center;

	@include bp($point_2, min) {
		max-width: 96rem;
	}

	@include bp($point_3) {
		max-width: 35rem;

		&:not(:last-child) {
			margin-bottom: 0.6rem;
		}
	}
}

.home_hero__title__subtitle {
	position: relative;
	z-index: 2;

	color: $white;
	font-family: $font_2;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	@include bp($point_2, min) {
		font-size: 14.2rem;

		margin-top: -0.4rem;
		&:not(:last-child) {
			margin-bottom: 4.9rem;
		}
	}

	@include bp($point_3, $point_7) {
		font-size: 7.1rem;

		&:not(:last-child) {
			margin-bottom: 6.6rem;
		}
	}

	@include bp($point_7 - 1) {
		font-size: 6rem;

		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
}

.home_hero_find {
	position: relative;
	z-index: 10;

	width: 100%;
}

.home_hero_find_head {
	@include flex_block(row, nowrap, center, center, center);

	margin-bottom: -2.5rem;
}

.home_hero_find_head__in {
	@extend %white_btn_2;
	@extend %btn_size_2;

	cursor: default;
}

.home_hero_find_head__decor {
	position: absolute;
	top: -0.6rem;
	left: 50%;
	transform: translate(-50%, -100%);
	z-index: -1;

	width: 4.8rem;
	height: 2rem;

	color: $white;
}

.home_hero_find__form {
	background-color: $white;
	box-shadow: 0 1.8rem 3.8rem rgba($black, 0.11);
	border-radius: 1rem;

	@include bp($point_2, min) {
		padding: 2.2rem 3.7rem 2.2rem 2.6rem;
	}

	@include bp($point_3) {
		padding: 3.2rem 2.2rem;
	}
}

.home_hero_find__items {
	@include bp($point_2, min) {
		@include flex_block(row, wrap, space-between, center);
	}
}

.find_item {
	@include bp($point_3) {
		min-width: 20rem;

		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}

		@include flex_block(column, nowrap, flex-start, center, center);
	}
}

.find_item__top {
	@include flex_block(row, nowrap, flex-start, center, center);
}

.find_item__icon {
	width: 1.6rem;
	height: 1.6rem;

	margin-right: 0.8rem;

	color: $brown;
	stroke: $brown;
}

.find_item__text {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.4;
	color: $brown;
}

.find_item__input {
	max-width: 20rem;

	font-family: $font_1;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.4;
	color: $black_2;

	border: none;

	&::-webkit-input-placeholder {
		color: $black_2;
	}

	&::-moz-placeholder {
		color: $black_2;
	}

	&:-ms-input-placeholder {
		color: $black_2;
	}

	@include bp($point_2, min) {
		padding: 0 0 0 2.4rem;
	}

	@include bp($point_3) {
		text-align: center;
	}
}

.find_item_button {
	@extend %btn_size_3;
	@extend %black_btn_1;

	@include bp($point_3) {
		width: 100%;
		max-width: 50rem;

		margin: 0 auto;
	}
}

.find_item_button__icon {
	width: 2rem;
	height: 2rem;

	margin-right: 1rem;

	stroke: $white;
}
