extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	include ../blocks/hero
	include ../blocks/top_rated
	include ../blocks/luxury_packages
	include ../blocks/book
	include ../blocks/why
	include ../blocks/customize